<link rel="stylesheet" href="styles.css">

<li>
    <div>
        <span class="message"> <b>  <%= message.user %>: </b>  <%= message.text %>  </span>
        <button onclick="location.href='/messageDetails/<%= message.id %>'">Open Message</button>
    </div>
    <span class="date-sent"> <%= message.added %> </span>
</li>