.form-container{
    width: 20rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.btn{
    margin: 8px;
}

.date-sent{
    font-size: small;
    margin: 1em;
}

.message{
    font-size:x-large;
    margin: 2rem;
}

li{
    padding:0.5rem;
}

button{
    padding: 4px;
}